# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gcda
*.gcno

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# GTest
bin/*
thirdparty/googletest/include/*
thirdparty/googletest/*

#data
data/records.txt
